<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home Page</title>
</head>
<body>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload"/>
        <p><% if(comment){ %>
            <%= comment%>

        <%}%>
        </p>
        <button type="submit">Upload</button>
      </form>

      <div class="file-container">
        <% if(file){%>
            <ul>
                <% for(let each of  file) {%>
                    <li><a href="/file/<%= each.id%>"><%= each.originalName%></a>
                    <a href="/delete/<%= each.id%>"><img src="https://cdn-icons-png.flaticon.com/512/6861/6861362.png" style="height:20px; width:20px"></a>
                    
                    </li>

                <%}%>    
            </ul>
        <%}%>        
      </div>  
 

</body>
</html>